/**
 This style sheet written in BEM

 Block = .block
 Element = .block__element
 Modifier = .block--modifier , .block__element--modifier 

/* base styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  color: #9194a1;
  overflow-x: hidden;
}
p {

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  text-align: center;
}

p {
  /* &&&&&&&&&&&&&&&& 
  we need to increase to be 16px for medium, large screens */
  font-size: 14px;
}

/* to add a left, right padding for the whole website */
.container {
  padding: 0 30px;
}

/* 
center images , 
Take note that the bookmark image must be to the left of the page, adjustments have to be made
*/
img {
  display: block;
  margin: auto;  
}
/* &&&&&&&&&&&&&&&& This is a trial css , that should be edited and moved to the proper place */
/*Questions section:  */
/* remove the in-built symbol 
and replace it with image 'icon-arrow.svg' */
summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: url('../images/icon-arrow.svg');
  float: right;
}

/*Change the color of the arrow when clicked*/
details[open] summary::after {
  content: url('../images/icon-arrow.svg');
  display: inline-block;
  transform: rotate(180deg);
  filter: invert(200%) sepia(200%) saturate(200%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

/*End of trial css */
