/**
 This style sheet written in BEM

 Block = .block
 Element = .block__element
 Modifier = .block--modifier , .block__element--modifier 

/* base styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  color: #9194a1;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  text-align: center;
}
a {
  color: white;
  text-decoration: none;
}

p {
  /* &&&&&&&&&&&&&&&& 
  we need to increase to be 16px for medium, large screens */
  font-size: 14px;
  text-align: center;
  line-height: 200%; /*double the line spacing */
}

/* to add a left, right padding for the whole website */
.container {
  padding: 0 30px;
}

.hide {
  display: none;
}

.hide-yscroll {
  overflow-y: hidden;
}

/* 
center images , 
Take note that the bookmark image must be to the left of the page, adjustments have to be made
*/
img {
  max-width: 100%; /* to get images fill 100% of the available width */
  display: block;
  margin: auto;
}

/*************************** navbar ***************************/
/* Blocks ********/
.navbar {
  width: 100%;
  height: 94px;
  position: fixed;
  padding: 36px 30px;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  background: #fff;
}

.navigation {
  position: absolute;
  top: 94px;
  right: 0;
  width: 100%;
  padding: 0 25px;
  opacity: 1;
  text-align: center;
  z-index: 20000;
  /* to be able to align social icons to the bottom */
  height: 80vh;
}

/* Elements ********/
.navigation__menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation__item {
  width: 100%;
  padding: 22px 0;
  border-top: 1px solid #4c526c;
}

.navigation__link {
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fcfcfc;
  text-decoration: none;
}

.navigation__social {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  /* to center absolutely positioned element  */
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* Modifiers ********/
.navbar--expand {
  height: 100vh;
  background: #252b46;
  align-items: flex-start;
  opacity: 0.98;
  overflow-y: scroll;
  z-index: 10;
}

.navigation__link--nav-btn {
  width: 100%;
  display: block;
  padding: 11px;
  border: 2px solid #f7fafd;
  border-radius: 12px 15px;
}

.logo__text--white-theme {
  fill: #fff;
}

.logo__circle--white-theme {
  fill: #fff;
}

.logo__bookmark--blue-theme {
  fill: #252b46;
}

/*MAIN SECTION
 &&&&&&&&&&&&&&&& This is a trial css , that should be edited and moved to the proper place */
/*Questions section:  */
/* remove the in-built symbol 
and replace it with image 'icon-arrow.svg' */
summary::-webkit-details-marker {
  display: none;
}
summary {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 30px 0;
  border-bottom: 1px solid black;
}
summary::after {
  content: url('../images/icon-arrow.svg');
  float: right;
}

/*Change the color of the arrow when clicked*/
details[open] summary::after {
  content: url('../images/icon-arrow.svg');
  display: inline-block;
  transform: rotate(180deg);
  filter: invert(200%) sepia(200%) saturate(200%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

/*End of trial css */

.download__primary {
  margin: 159px auto 37px;
}

.card {
  width: 67vw;
  text-align: center;  
  margin: 10px auto 25px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px -3px 7px 3px #edecea;
}
.card--button {
  width: 85%;
  margin: 0 auto 25px;
  background-color: hsl(231, 69%, 60%);
  padding: 12px 10px;
  color: white;
  border-radius: 7px;
}
.card__img {
  margin-bottom: 39px;
  margin-top: 52px;
}
.card__title {
  margin-bottom: 15px;
}
.card__details {
  padding-bottom: 40px;
  margin-bottom: 30px;
  border-bottom: 5px dotted grey;
}
.questions {
  width: 67vw;
  margin: 143px auto 50px;
}
.questions__title {
  margin-bottom: 20px;
}
.questions__details {
  margin-bottom: 30px;
}

a.moreInfo {
  width: 118px;
  display: block;
  margin: auto;
  text-align: center;
  background-color: hsl(231, 69%, 60%);
  padding: 10px 0;
  text-decoration: none;
  color: white;
  margin-top: 49px;
  border-radius: 5px;
}

.footer {
  width: 100%; 
  margin: auto;
  background: hsl(231, 69%, 60%);
  color: white;
}
.subscribe__details {
  padding-top: 77px;
  letter-spacing: 0.3rem;
  padding-bottom: 28px;
}
.subscribe__title {
  padding-bottom: 35px;
}
form.subscribe__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
input[type="email"], .subscribe--btn {
  width: 84%;
  padding: 16px 0;
  margin: auto auto 16px;
  border-radius: 7px;
}
.subscribe--btn {
  margin-bottom: 62px;
  background-color: hsl(0, 94%, 66%);
  color: white;
}
.aboutUs {
  background-color:  hsl(229, 31%, 21%);
}
footer .logo {
  display: block;
  text-align: center;
 /* filter: invert(119%) sepia(18%) saturate(200%) hue-rotate(271deg) brightness(180%) contrast(213%); */
  padding-top: 42px;
  margin-bottom: 48px;
  z-index: 1;
}

/*change footer logo text from blue to white */
footer path.logo__text {
  fill: white;
}

.features {
  display: flex;
  flex-direction: column;
  justify-items: center; 
  text-align: center;  
}
.features li {
  margin-bottom: 40px;
}
footer .navigation__social {
  position: relative;
}
