/**
 This style sheet written in BEM

 Block = .block
 Element = .block__element
 Modifier = .block--modifier , .block__element--modifier 

/* base styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  color: #9194a1;
  background-color: #fff;
  /* to avoid top fixed navbar overlapping the next section */
  /* https://stackoverflow.com/questions/11124777/twitter-bootstrap-navbar-fixed-top-overlapping-site */
  padding-top: 110px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

p {
  /* &&&&&&&&&&&&&&&& 
  we need to increase to be 16px for medium, large screens */
  font-size: 15px;
  text-align: center;
  line-height: 200%;
  /*double the line spacing */
}

/* to add a left, right padding for the whole website */

.container {
  padding: 0 30px;
}

.hide {
  display: none;
}

.hide-yscroll {
  overflow-y: hidden;
}

/* 
center images , 
Take note that the bookmark image must be to the left of the page, adjustments have to be made
*/

img {
  max-width: 100%;
  /* to get images fill 100% of the available width */
  display: block;
  margin: auto;
}

/* reuable Blocks ********/

.section-padding {
  padding: 40px 0 100px;
}

.heading--primary {
  color: #252b46;
}

.heading--secondary {
  color: #9194a1;
}

.heading-level-alpha {
  font-size: 30px;
  line-height: 1.5;
}

.heading-level-beta {
  font-size: 25px;
}

.heading-level-gamma {
  font-size: 24px;
}

.heading-level-normal {
  font-size: 16px;
}

.btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0px 9px 8px #dadadb;
  background: #f7f7f9;
  color: #333;
  text-decoration: none;
  padding: 0 16px;
  line-height: 48px;
  height: 48px;
}

.btn--block {
  display: block;
}

.btn--red {
  background: #fa5757;
  color: #ffffff;
}

.btn--blue {
  background: #5368df;
  color: #ffffff;
}

.btn--outline {
  border: 2px solid #f7fafd;
  background: transparent;
  box-shadow: none;
}

.btn--noshadow {
  box-shadow: none;
}

/*************************** navbar ***************************/

/* Blocks ********/

.navbar {
  width: 100%;
  height: 110px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20000;
  padding: 36px 30px;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  background: #fff;
  transition: height 0.2s linear 0.01s;
}

.navigation {
  position: absolute;
  top: 110px;
  right: 0;
  width: 100%;
  padding: 0 25px;
  opacity: 1;
  text-align: center;
  z-index: 20000;
  /* to be able to align social icons to the bottom */
  height: 80vh;
}

/* Elements ********/

.navigation__menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation__item {
  width: 100%;
  padding: 22px 0;
  border-top: 1px solid #4c526c;
}

.navigation__link {
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fcfcfc;
  text-decoration: none;
}

.navigation__social,
.footer__social {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  /* to center absolutely positioned element  */
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* Modifiers ********/

.navbar--expand {
  height: 100vh;
  background: #252b46;
  align-items: flex-start;
  opacity: 0.98;
  overflow-y: scroll;
  transition: height 0.5s linear 0.25s;
}

.navigation__link--nav-btn {
  width: 100%;
  display: block;
  padding: 11px;
  border: 2px solid #f7fafd;
  border-radius: 12px 15px;
}

.logo__text--white-theme {
  fill: #fff;
}

.logo__circle--white-theme {
  fill: #fff;
}

.logo__bookmark--blue-theme {
  fill: #252b46;
}

/*************************** intro ***************************/
/* Blocks ********/
.intro {
  display: flex;
  flex-direction: column;
}

/* Modifiers ********/

.intro__img {
  /* to align image with other sections*/
  /* to get image fill full width as it has a shadow ???
  ask for another way to do that */
  margin: 0 -20px;
  position: relative;
}

.intro__img:before {
  content: '';
  background-color: #5368df;
  position: absolute;
  width: 100%;
  height: 80%;
  right: -50px;
  z-index: -100;
  top: 50px;
  border-radius: 0 0 0 100px;
}

.intro__text {
  padding-top: 57px;
}

.intro__heading {
  margin-bottom: 16px;
}

.intro__btns {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

/*MAIN SECTION
 
/*Questions section:  */

/* remove the in-built symbol 
and replace it with image 'icon-arrow.svg' */

summary::-webkit-details-marker {
  display: none;
}

summary {
  /* font-size: 0.9rem; */
  font-weight: 500;
  padding: 30px 0;
  border-bottom: 1px solid black;
}

summary::after {
  content: url('../images/icon-arrow.svg');
  float: right;
}

/*Change the color of the arrow when clicked*/

details[open] summary::after {
  content: url('../images/icon-arrow.svg');
  display: inline-block;
  transform: rotate(180deg);
  filter: invert(200%) sepia(200%) saturate(200%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

/*End of trial css */

.download {
  padding: 0 20px;
}

.download__header {
  margin: 159px auto 37px;
}

.card {
  max-width: 280px;
  text-align: center;
  margin-bottom: 55px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px -3px 7px 3px #edecea;
  border-radius: 10px;
  position: relative;
}

/* to add dotted border in the card */
.card::after {
  content: ' ';
  background-image: url(../images/bg-dots.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  display: inline-block;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
}

.card--button {
  width: 85%;
  margin: 0 auto 25px;
  background-color: hsl(231, 69%, 60%);
  padding: 12px 10px;
  color: white;
  border-radius: 7px;
}

.card__img {
  margin-bottom: 39px;
  margin-top: 52px;
}

.card__title {
  margin-bottom: 15px;
}

.card__details {
  padding-bottom: 40px;
  margin-bottom: 30px;
}

.questions {
  width: 100%;
  margin: 143px auto 50px;
  text-align: center;
}

.questions__title {
  margin-bottom: 20px;
}

.questions__text {
  margin-bottom: 30px;
}

.questions__details {
  margin-bottom: 50px;
}

/* .moreInfo {
  width: 118px;
  display: block;
  margin: auto;
  text-align: center;
  background-color: hsl(231, 69%, 60%);
  padding: 10px 0;
  text-decoration: none;
  color: white;
  margin-top: 49px;
  border-radius: 5px;
} */

.footer {
  width: 100%;
  margin: auto;
  background: hsl(231, 69%, 60%);
  color: white;
}

.subscribe__details {
  padding-top: 77px;
  letter-spacing: 0.3rem;
  padding-bottom: 28px;
}

.subscribe__title {
  /* padding-bottom: 35px; */
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px 30px 60px;
}

.subscribe__input {
  width: 100%;
  padding: 16px 20px;
  margin: auto auto 16px;
  border-radius: 7px;
  border: none;
}

.subscribe--btn {
  margin-bottom: 62px;
  background-color: hsl(0, 94%, 66%);
  color: white;
}

.aboutUs {
  background-color: hsl(229, 31%, 21%);
  padding-bottom: 44px;
}

footer .logo {
  display: block;
  text-align: center;
  /* filter: invert(119%) sepia(18%) saturate(200%) hue-rotate(271deg) brightness(180%) contrast(213%); */
  padding-top: 42px;
  margin-bottom: 48px;
  z-index: 1;
}

/*change footer logo text from blue to white */

footer path.logo__text {
  fill: white;
}

.features {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}

.features li {
  margin-bottom: 40px;
  list-style-type: none;
}

.footer__social {
  position: relative;
  align-items: baseline;
}

/* Media queries size is temporary */

/*Desktop view */

@media only screen and (min-width: 1281px) {
  p {
    font-size: 18px;
  }
  .cards {
    display: flex;
    margin: auto 260px;
    height: 70vh;
    /*set height to allow vertical alignment set height to card
    as well so start the cards won't stretch to fit container */
  }
  .firefox {
    /* margin-top: 40px; */
    align-self: center;
    margin-left: 30px;
    margin-right: 30px;
  }

  .card {
    height: 54vh;
  }
  .opera {
    align-self: flex-end;
  }
  .aboutUs {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding-bottom: 32px;
  }
  .features {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .features li {
    margin-bottom: 0;
    margin-right: 48px;
  }
  .footer__social {
    align-items: center;
  }
  form.subscribe__form {
    flex-direction: row;
    padding-bottom: 70px;
    justify-content: center;
  }
  input[type='email'],
  .subscribe--btn {
    width: 24vw;
    padding: 20px 0;
    margin: 0 5px 0;
  }
  .subscribe--btn {
    width: 10vw;
  }
  details p {
    text-align: start;
  }
}
